[submodule "vendor/go2rtc"]
	path = vendor/go2rtc
	url = https://github.com/AlexxIT/go2rtc.git
[submodule "vendor/pgvector"]
	path = vendor/pgvector
	url = https://github.com/pgvector/pgvector.git
[submodule "vendor/mosquitto"]
	path = vendor/mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "vendor/redis"]
	path = vendor/redis
	url = https://github.com/redis/redis.git
